* {
    box-sizing: border-box;
  }

body{
    background-color:lightblue;
    font-family: Verdana,sans-serif;
}

h1 {
    background-color: rgb(141, 218, 141);
}

div {
    background-color: lightpink;
}

p {
    background-color: yellow;
}

.p1
{
    font-size:20px;
    color:lightpink;
}

.mySlides {display:none}

/* 幻灯片容器 */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* 下一张 & 上一张 按钮 */
.prev, .next ,.end{
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -20px;
  padding: 18px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

/* 定位 "下一张" 按钮靠右 */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.end {
    right:100;
    border-radius: 4px 0 0 4px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover, .end:hover{
  background-color: black;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


/* 数字文本 (1/3 等) */
.numbertext {
  color: #da5619;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* 淡出动画 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
