* {
    box-sizing: border-box;
  }
  canvas#viewport { border: 20px solid white; height: 800px; width: 1100px; margin: 80px;}

body{
    background-color:lightblue;
    font-family: Verdana,sans-serif;
}

h1 {
    background-color: rgb(141, 218, 141);
}

p {
    background-color: yellow;
}
.mySlides {display:none;}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.numbertext {
  color: #da5619;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.transit {
  width: 70%;
  height: 70%;
  -webkit-transition-property: width, height; /* Safari */
  transition-property: width, height;
  -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 4s;
}

.transit:hover {
  width: 20%;
  height: 20%;
}

div.b {
  -ms-transform: skewY(20deg); /* IE 9 */
  -webkit-transform: skewY(20deg); /* Safari 3-8 */
  transform: skewY(20deg);
}
